<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

        <div class="container">
            <hr>
            <h2>Categorias:</h2>
            <br>
            <a href="/admin/categories/new" class="btn btn-success">Criar Categoria</a>
            <hr>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% category.forEach(category=> { %>
                        <tr>
                            <th><%- category.id %></th>
                            <th><%- category.title %></th>
                            <th><%- category.slug %></th>
                            <th>
                                <form method="GET" action="/admin/categories/edit/" style="display: inline">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-warning">Editar</button>
                                </form>

                                <form method="POST" action="/admin/categories/delete" style="display: inline"
                                    onsubmit="confirmDelete(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

        </div>

        <%- include("../../partials/footer.ejs") %>

            <script>
                function confirmDelete(event, form) {
                    event.preventDefault()
                    var decision = confirm("Deseja mesmo deletar essa categoria?")
                    if (decision) {
                        form.submit()
                    } else {
                        console.log("Não excluído.")
                    }
                }
            </script>